<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{{.Type}}" lang="{{.Type}}">
	<head>
		{{ partial "head.html" . }}
	</head>

	<body>
		<table width="100%" border="0" cellspacing="0" cellpadding="0">
		<tr>
			<td align="center" valign="top">
				<div id="site">
					<div id="titulo">
						<a href="{{.Site.BaseURL}}/{{.Type}}/company.html">
							<div id="logo">
								<img src="/imagens/logo.gif" width="219" height="81" alt="Averone" />
							</div>
						</a>
						<div id="idioma">
							<p>
								<a href="{{replace .Permalink "/en/" "/pt-br/"}}" onclick="setIdioma('pt-br')">
									<img src="/imagens/brasil_{{.Type}}.gif" alt="Brasil" width="18" height="12" border="0" align="top"/> portugu&ecirc;s
								</a>
							</p>
							<p>
								<a href="{{replace .Permalink "/pt-br/" "/en/"}}" onclick="setIdioma('en')">
									<img src="/imagens/eua_{{.Type}}.gif" alt="EUA" width="18" height="12" border="0" align="top"/> english
								</a>
							</p>
						</div>
					</div>
					<div id="topo">
						<table width="775" border="0" cellspacing="0" cellpadding="0">
						<tr>
							<td width="221" align="left" style="background:url(/imagens/base_menu.jpg) no-repeat top right">
								<ul id="primary-nav">
								  <li><a href="company.html">{{ ( index $.Site.Data.translations .Type ).company }}</a></li>
								  <li class="menuparent"><a href="#">{{ ( index $.Site.Data.translations .Type ).products }}</a>
									<ul>
									  <li><a href="wfo.html">WFO</a></li>
									  <li><a href="dejavu.html">DejaVu</a></li>
									</ul>
								  </li>
								  <li><a href="services.html">{{ ( index $.Site.Data.translations .Type ).services }}</a> </li>
								  <li><a href="opportunities.html">{{ ( index $.Site.Data.translations .Type ).opportunities }}</a> </li>
								  <li><a href="investors.html">{{ ( index $.Site.Data.translations .Type ).investors }}</a> </li>
								  <li><a href="contacts.html">{{ ( index $.Site.Data.translations .Type ).contacts }}</a> </li>
								</ul>
							</td>
							<td width="554" align="left">
                <img src="/imagens/{{.Params.banner}}.jpg" alt="Averone" width="548" height="205" />
              </td>
              </tr>
						</table>
					</div>
					<div id="container">

              {{ .Content }}

					</div>
					<div id="rodape">
						All rights reserved &reg; Averone.com.br
					</div>
				</div>
			</td>
		</tr>
		</table>

		{{ partial "analytics.html" . }}

	</body>
</html>
