<html>

<head>
    <script src="/js/js.cookie.js" language="javascript"></script>
    <script src="/js/funcoes.js" language="javascript"></script>
    <title>Averone</title>
    <link href="css/estilos.css" rel="stylesheet" type="text/css">
</head>

<body onLoad="checkCookie()">

    <div id="entrada">
        <p align="center"><img src="imagens/logo.gif" alt="averone" width="219" height="81"></p>
        <p align="center">&nbsp;</p>
        <p align="center">Selecione seu idioma:</p>
        <p align="center">&nbsp; </p>
        <p align="center">
            <a href="pt-br/company.html"><img src="imagens/brasil_en.gif" alt="portugues" width="18" height="12" border="0" onclick="setIdioma('pt-br')"> Portugu&ecirc;s</a>
        </p>
        <p align="center">&nbsp;</p>
        <p align="center">
            <a href="en/company.html"><img src="imagens/eua_pt-br.gif" alt="english" width="18" height="12" border="0" onclick="setIdioma('en')"> English</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </p>
    </div>

    {{ partial "analytics.html"}}

</body>

</html>
